<!--leaf and buttons-->
<div class="row ms-2 me-2 mb-3 mt-3">
  <div class="col"><i class="fa-brands fa-envira ms-3 mt-2 icon-large"><h2>Cyber Streets</h2></i></div>
  
  <div class="col">
      <h4 class=" gap-2 d-md-flex me-3 mb-2 mt-2 justify-content-md-end">Hi, Username <i class="fa-regular fa-face-smile"></i></h4>
  </div>
</div>

<h1 style="text-align: left; background-color: rgb(183, 243, 208);"  id="heading1"> Name <i class="fa-regular fa-user"></i> <br></h1>
<h3>Driving Since:</h3> 

<!--code for radios-->
<form>
  <!-- <div class="row me-2 ms-2 mb-3 mt-3">
    <div class="col">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
           Sign Up As A Rider
          </label>
      </div>
    </div>
    <div class="col">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Sign Up As A Driver
          </label>
      </div>
  </div>
  </div> -->
 
  <!--form(floating labels)-->
 <div id="error"></div>
 <div class="row ms-1 me-1 mb-3">
      <div class="col">
          <input type="text" class="form-control" placeholder="First name:" aria-label="First name" required>
      </div>
      <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" required>
      </div>
  </div> 
  <div class="form-floating ms-3 me-3 mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating ms-3 me-3 mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating ms-3 me-3">
      <input type="phone number" class="form-control" id="floatingPhonenumber" placeholder="Phonenumber" required>
      <label for="floatingPhonenumber">Phone number</label>
  </div>
      <h5 class="ms-3 mt-3">Add a payment option</h5>
      <h6 class="ms-5 mt-3"><i class="fa-solid fa-circle-plus"></i> Add a payment option</h6>
      <h6 class="note">*Note: Payment information is needed before you can sign up for a ride</h6>
      <div class="d-grid gap-2 d-md-flex me-3 mb-2 justify-content-md-end">
          <button class="btn  border-dark me-md-2" type="submit">Sign Up</button>
          <button class="btn  border-dark" type="button">Clear</button>
      </div>
</form>
